<configuration>
  <property name="LOGS" value="./logs"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE_REDIS" class="ch.qos.logback.core.FileAppender">
    <file>${LOGS}/redis.log</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
    <append>false</append>
  </appender>

  <appender name="FILE_RABBIT" class="ch.qos.logback.core.FileAppender">
    <file>${LOGS}/rabbit.log</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
    <append>false</append>
  </appender>

  <appender name="FILE_API_SERVICE" class="ch.qos.logback.core.FileAppender">
    <file>${LOGS}/api_service.log</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
    <append>false</append>
  </appender>

  <appender name="FILE_GAIN_SERVICE" class="ch.qos.logback.core.FileAppender">
    <file>${LOGS}/gain_service.log</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
    <append>false</append>
  </appender>

  <appender name="FILE_TESTCONTAINERS" class="ch.qos.logback.core.FileAppender">
    <file>${LOGS}/testcontainers.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
    <append>false</append>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="Redis">
    <appender-ref ref="FILE_REDIS"/>
  </logger>
  <logger name="Rabbit">
    <appender-ref ref="FILE_RABBIT"/>
  </logger>
  <logger name="API-Service">
    <appender-ref ref="FILE_API_SERVICE"/>
  </logger>
  <logger name="Gain-Service">
    <appender-ref ref="FILE_GAIN_SERVICE"/>
  </logger>

  <logger name="org.testcontainers" level="INFO">
    <appender-ref ref="FILE_TESTCONTAINERS"/>
  </logger>
  <logger name="com.github.dockerjava" level="INFO">
    <appender-ref ref="FILE_TESTCONTAINERS"/>
  </logger>
</configuration>